<%= simple_form_for @project do |f| %>
  <%= f.input :name %>
  <%= f.input :song %>
  <%= f.input :member_list %>
  <%= f.input :slide_count %>
  <%= f.button :submit %>
<% end %>
<div class="link">
  <%= link_to "Cancel", :back %>
</div>
