<div class="project-info">
  Project name: <%= @project.name %>
  Song name: <%= @project.song %>
  Member List: <%= @project.member_list %>
  Slide count: <%= @project.slide_count %>
</div>
<div class="links">
  <%= link_to "Edit", edit_project_path(@project) %>
  <br>
  <%= link_to project_path(@project), method: :delete, data: { confirm: "Are you sure?" } do %>
    Delete
  <% end %>
  <br>
  <%= link_to "Return to project list", root_path %>
</div>
