<!DOCTYPE html>
<html>
  <head>
    <title>DGC Formation Maker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div class="site-banner">
      <h1 class="banner-text">DGC Formation Maker</h1>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
